html{
    Background-color : #757476;
}
h2{ 
    float: right;
}

#followAnd {
	font-family: ‘Arial Black’, Gadget, sans-serif;
	font-size: 35px;
}
#live {
	font-family: ‘Arial Black’, Gadget, sans-serif;
	font-size: 20px;
}
#disclaimer {
	font-family: ‘Arial Black’, Gadget, sans-serif;
	font-size: 20px;
}
#disclaimerText {
	font-family: ‘Arial Black’, Gadget, sans-serif;
	font-size: 15px;
}
div2 {
    font-size: 20px;
    
}
body1{
    background-color: #444;
}
.vertical-offset-100{
    padding-top:100px;
}
#signUp{
    color: white;
}
#sign {
	color: #ff0209;
	font-size: 18px;
	
}
#header{
    color: white;
}
form{
    color: white;
    display: table;
}
input{
    display: table-cell;
}
#submit{
    color: black;
}
#links{
    color: black;
    font-size : 20px;
}
a{
    color: white;
    font-size : 18px;
}
input, select, textarea{
    color: black;
}
#signIn {
    color:#e19000;
    font-size: 18px;
}
.container-fluid{
	background-color: #bfbcc2;
}

.col-sm-6{
	color : white;
	font-size: 14px;
}
#newTournament{
	color:black;
	
}
#createYourTournament{
	color: #e19000;
	font-size: 18px;
}
#submit {
	color: white;
}
#verify{
	text-align:center;
	font-size: 55px;
	color : #e19000;
}
#tournamentDetails{
	 width: 350px;
    text-align:left;
 	 margin: 1em auto;
 	 font-size: 18px;
}
#confirmTournament{
	margin-left:660px;
	margin-right:auto;
}

.tournamentDetails {
	border-style : solid;
}

#selectTournament {
	text-align : center;
	color : #e19000 ; 
	font-size: 55px;
}
#aftermath {
	text-align : center;
	color : #ff0209 ; 
	font-size: 55px;
}
#gameResults {
	color: #ff0209;
	font-size: 18px;
	
}
#player {
	color : #e19000;
}
.resultsAftermath {
	background-color: #757476; 
}
#tournamentList {
	border-style : solid;
}
#links {
	color : Black;
	font-size : 25px;
}

#addTeamsTitle {
	text-align: center;
	font-size: 40px;
	
}
.addTeamDiv {
	height : 800px;
}
#displayTournaments {
	text-align : center;
	color : #e19000;
	font-size: 55px;
}
.tournamentDisplay {
	height : 600px;
	border-style: solid;
}
#tournamentLinks {
	color : black;
	font-size: 25px;
    text-align:left;
 	margin: 2em auto;
 	font-size: 25px;
}
#addCompetitiors {
	color: #e19000;
}
table.bracket {
    border-collapse: collapse;
    border: none;
}
.bracket td {
    vertical-align: middle;
    width: 40em;
    margin: 0;
    padding: 10px;
}
.bracket td p {
    border-bottom: solid 2px black;
    margin: 0;
    padding: 5px 5px 5px 5px;
}
.bracket th{
    text-align:center;
}
.bracketBack{
	background-color: white;
	
}
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1.25; }
  .round .spacer:first-child{ flex-grow:1.25; },
  .round .spacer:last-child{ flex-grow:.75; }

  .round .game-spacer{
    flex-grow:1.75;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
}

  
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ 
  	border-bottom:2px solid black;
  	font-weight:bold;
    font-size : 16px;
    }

  li.game-spacer{ 
    border-right:2px solid black;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:2px solid black;
    font-weight:bold;
    font-size : 16px;
  }