html{
    Background-color : #acacac;
}
h2{ 
    float: right;
}
h1 {
font-family: ‘Arial Black’, Gadget, sans-serif;
font-size: 28px;
color: white;
}
div2 {
    font-size: 20px;
    
}
body{
    background: url(http://mymaplist.com/img/parallax/back.png);
    background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}
.vertical-offset-100{
    padding-top:100px;
}
#signUp{
    color: white;
}
#header{
    color: white;
}
form{
    color: white;
    display: table;
}
input{
    display: table-cell;
}
#submit{
    color: black;
}
#links{
    color: white;
}
a{
    color: white;
}
input, select, textarea{
    color: black;
}
#signIn {
    color: black;
}

table.bracket {
    border-collapse: collapse;
    border: none;
}

.bracket td {
    vertical-align: middle;
    width: 40em;
    margin: 0;
    padding: 10px;
}

.bracket td p {
    border-bottom: solid 1px black;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.bracket th{
    text-align:center;
}

.bracketBack{
	background-color: white;
}

main{
  display:flex;
  flex-direction:row;
  
}

.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1.25; }
  .round .spacer:first-child{ flex-grow:1.25; },
  .round .spacer:last-child{ flex-grow:.75; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }